

.edit-form input,textarea{
    width: 100%;
    margin-left: 1rem;
}

.edit-form input[type='submit']{
    line-height: 2;
    background-color: salmon;
    border: none;
    font-size: 1em;
    /* width: 20%; */

}
